<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xmlns:dubbo="http://code.alibabatech.com/schema/dubbo" xmlns="http://www.springframework.org/schema/beans"
       xmlns:dobbo="http://code.alibabatech.com/schema/dubbo"
       xsi:schemaLocation="
           http://code.alibabatech.com/schema/dubbo
           http://code.alibabatech.com/schema/dubbo/dubbo.xsd
           http://www.springframework.org/schema/beans
           http://www.springframework.org/schema/beans/spring-beans-4.0.xsd
           ">

    <dubbo:application name="provider" owner="programmer" organization="dubbox"/>
    <dubbo:registry address="zookeeper://192.168.0.115:2181" />
    <dubbo:annotation package="com.javazk.api" />
    <dubbo:protocol name="rest" server="tomcat" port="8888" contextpath="provider" accepts="500" />
</beans>